/* Arrow */

.iSlider-arrow,
.iSlider-arrow-prev,
.iSlider-white {
  position: absolute;
  width: 3em;
  height: 3em;
  left: 0;
  right: 0;
  bottom: 5%;
  margin: 0 auto;
  border-top: 2px solid #31c7fb;
  border-right: 2px solid #31c7fb;
  z-index: 10000;
  opacity: 0.8;
  animation: nextPage 1.2s linear infinite;
}

.iSlider-white {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
}

.iSlider-arrow-prev {
  bottom: 1%;
  animation: prevPage 1.2s linear infinite;
}

@keyframes nextPage {
  0% {
    transform: translateY(40px) rotate(-45deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(20px) rotate(-45deg);
    opacity: 0.4;
  }
  100% {
    transform: translateY(10px) rotate(-45deg);
    opacity: 0;
  }
}

@keyframes prevPage {
  0% {
    transform: translateY(-40px) rotate(135deg);
    opacity: 0.8;
  }
  50% {
    transform: translateY(-20px) rotate(135deg);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-10px) rotate(135deg);
    opacity: 0;
  }
}